body{
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    
}
.section-top{
    width: 100%;
    height: 1000px;
    background-image: url(img/gb5.jpg);
    margin: 100px auto;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-size: cover;
}

.section-top h1{
    font-family: monospace;
    color: aliceblue;
    color: whitesmoke;
}

.section-top h2{
    color: white;
}

.section-bottom{
    width: 100%;
    height: 500px;
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/gb6.jpg);    
}

.testimonial-section h1{
    font-weight:  400;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 20px;
    padding: 40px; 
    color: whitesmoke;
    background: grey;
}
*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
}
.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    
}
.contact-info h1{
    color: teal;
    background: rgb(61, 29, 29);
    padding: 0 20px;
    margin: 0 10px;
    align-items: center;
    justify-content: center;

}
.card{
    background: #0a335c;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(12, 161, 161);
    cursor: pointer;
}

.card-icon{
    font-size: 30px;
    background: tomato;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon{
    background: none;
    color: tomato;
    transform: scale(1.6);
}

.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
.card:hover p{
    max-height: 40px;
    opacity: 1;
}

@media screen and (max-widht:800px) {
    .contact-info{
        flex-direction: column;
    }
        .card{
            width: 100%;
            max-width: 300px;
            margin: 10px 0;
        }
    }

    .social-buttons a{
        display: inline-flex;
        text-decoration: none;
        font-size: 20px;
        width: 60px;
        height: 60px;
        color: #fff;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 8px;
    }

    .social-buttons a::before{
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        background: linear-gradient(45deg,#22a6b3,#30336b);
        border-radius: 50%;
        z-index: -1;
        transition: 0.3s ease-in;
    }
    .social-buttons a:hover::before{
        transition: 0.3s ease-in;
    }
    .social-buttons a i{
        transition: 0.3s ease-in;
    }
    .social-buttons a:hover i{
        background: linear-gradient(45deg,#22a6b3,#30336b);
        -webkit-background-clip: text;
        -webkit-text-color: transparent;
        transform: scale(2.2);
    }

    .image-circle {
        border-radius: 20px;
    }
   

.side{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.side a{
    background: #e74c3c;
    color: whitesmoke;
    font-size: 22px;
    display: block;
    width: 170px;
    padding: 12px;
    text-decoration: none;
    margin: 8px 0;
    color: white;
    border-radius: 6px;
    margin-left: -100%;
    transition: 0.6s all;
}
.side a:hover{
    margin-left: 0;

}