*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #deecdf;
}
.skills{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: white;
    color: #313131;
    padding: 20px;
}
h1{
  font-size: 30px;
  padding: 6px 0 10px 0;
  border-bottom: 4px solid;
  margin: 0 0 10px 0;
}
h3{
    font-size: 20px;
    margin: 6px 0;
}
.skills div{
    width: 100%;
    background: #607D8B;
    height: 24px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin: 2px;
}
.windows-bar::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 24px;
    left: 0;
    background: #e74ce7;
}
.linux-bar::before{
    content: '';
    position: absolute;
    width: 45%;
    height: 24px;
    left: 0;
    background: #c7ecee;
}
.konfigurasi-bar:before{
    content: '';
    position: absolute;
    width: 70%;
    height: 24px;
    left: 0;
    background: #130f40;
}

.html-bar:before{
    content: '';
    position: absolute;
    width: 55%;
    height: 24px;
    left: 0;
    background: #f0932b;
}
.css-bar:before{
    content: '';
    position: absolute;
    width: 52%;
    height: 24px;
    left: 0;
    background: #22a6b3;
}
.js-bar:before{
    content: '';
    position: absolute;
    width: 40%;
    height: 24px;
    left: 0;
    background: #f9ca24;
}
.php-bar:before{
    content: '';
    position: absolute;
    width: 32%;
    height: 24px;
    left: 0;
    background: #ff7979;
}
